{{ define "main" }}

<div class="component">
    <div class="container">
        <div class="row mb-0">
            <div class="col-lg-12">
                <h1>{{.Title}}</h1>
                {{.Content}}
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-0">

            {{ range .Page.Params.list }}
            <div class="col">
                <div class="card h-100">
                    {{ partial "components/carousel.html" (dict "ctx" . "images" .images ) }}
                    <div class="card-body">
                        <h4 class="card-title">{{.title}}</h4>
                        <p class="card-text">{{.desc | safeHTML }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

</div>
{{ end }}