{{/* 
    
    Usage: 

    {{ partial "components/carousel.html" (dict "ctx" . "images" .images ) }}

    Object:

    images:
        - image.jpg
        - image.jpg
      
*/}}


<!-- Carousel -->
{{ $entry := delimit (shuffle (seq 1 9)) "" }}
{{ $counter := 0 }}
{{ $counter_2 := 0 }}
<div id="id-{{$entry}}" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        {{ range .images }}
            {{ $image := resources.GetMatch .src }}


        <div class="carousel-item {{ if eq $counter 0}}active{{end}}" style="background-color: #f0f1f5;">
            <picture>
                <img style="height:100%; width: unset; max-widh: 100%;" alt="{{.image.alt}}" src="{{$image.RelPermalink}}">
            </picture>
        </div>
        {{ $counter = add $counter 1 }}

        {{ end }}
    </div>

    {{ if gt $counter 1 }}

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            {{ range .images }}
    
            <button type="button" data-bs-target="#id-{{$entry}}" data-bs-slide-to="{{$counter_2}}"
                class="{{ if eq $counter_2 0}}active{{end}}"></button>
            {{ $counter_2 = add $counter_2 1 }}
            {{ end }}
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#id-{{$entry}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#id-{{$entry}}" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    {{ end }}
</div>